/*Copyright 2019-2023 Kai D. Gonzalez*/

body {
  background-color: #e7e7e7;
}

div {
  background: linear-gradient(#ffffff, #ffffff);
  padding: 50px;
  width: 70%;
  margin: 25px auto;
  height: 110%;
  font-size: smaller;
  font-family: 'Times New Roman', Times, serif, Geneva, Tahoma, sans-serif;
  /* box-shadow: 0px 0px 5px #888; */
  border: 0.5px;
  border-color: #a2a2a2;
  border-style:solid;
  border-radius: 30px;
  line-height: 1.5;
}

blockquote {
  font-style: italic;
  font-family: Georgia, 'Times New Roman', Times, serif;
  /* margin: 20px; */
  padding: 20px;
  font-variant: small-caps;
  border-color: #a2a2a2;
  border-style: solid;
  border-width: 0.5px;
  box-shadow: 1px 1px 10px #999999;
  border-radius: 10px;
}

p {
  font-family: Georgia, 'Times New Roman', Times, serif;
}

#title {
  font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
  text-shadow: 1px 1px 5px #666666;
  font-size: 3em;
  font-variant: small-caps;
}

span {
  font-variant: small-caps;
  font-weight: bolder;
  font-size: 1.5em;
}

img {
  margin: 0px 15px 50px 0px;
  box-shadow: 0px 0px 5px #000000;

  float: right;
  border-radius: 10%;
}
